.loader {
  /*свг и/или анимация*/
  width: 108px;
  height: 108px;
  background: url(./Loading.svg);
  animation: spiner 5s linear infinite;
}

@keyframes spiner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
