.input:focus {
  border: 1px solid black;
}

.input {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  width: 372px;
  height: 36px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
}

.errorInput:focus {
}

.error {
}
