.button {
  border-radius: 3px;
  padding: 5px 24px;
  width: 132px;
  height: 30px;
  border-color: transparent;
}

.disabled {
  background: #004d99;
  opacity: 0.5;
}

.secondary {
  border: 1px solid #06c;
  border-radius: 3px;
  padding: 5px 24px;
  width: 176px;
  height: 30px;
}

.default {
  background: #06c;
  transition: 0.5s;
}

.red {
  background: #cc1439;
  transition: 0.5s;
}

.default:hover {
  border: 1px solid #06c;
  border-radius: 3px;
  padding: 5px 24px;
  width: 176px;
  height: 30px;
}

.red:hover {
  background: #ff1a47;
  width: 167px;
}

.secondary:hover {
  background: #e5f0fa;
}

.default:active {
  background: #0059b2;
}

.secondary:active {
  background: #c9e5ff;
}

.red:active {
  background: #b21232;
}

.button:disabled {
  background: #004d99;
  opacity: 0.5;
}
